<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.perrin.fr/trains/Reseau"
			class = "fr.perrin.trains.reseau.ReseauPackage"
			genModel = "model/generated/Reseau.genmodel" />
	</extension>
</plugin>
